@import "tailwindcss";

:root {
  --background: #2e2f36;
  --foreground: #171717;
  --background-items: #2E2F36;
  --button-full: #79A0F0;
  --button-transparent: #40495F;
  --background-dark: #202126;
}



@theme  {
  --color-primary: #202126;
  --color-secondary: #2E2F36;
  --color-button: #79A0F0;
  --font-sans: var(--font-myfont);
  --font-mono: var(--font-myfont);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #202126;
    --foreground: #ededed;
    
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-myfont), Arial, Helvetica, sans-serif;
}
